body{
    
}
a{

}
.body{
    background-color: lightgray /*#0A8754*/;

}
.bg-costum{
    background-color: /*#004F2D*/ #0A8754;
}
.bg-costum:hover{
    background-color:#004F2D;
}
.appHover:hover{
    background-color: #00cc66;
}
footer {
    display: block;
    padding-top: 25px;
    text-align: center;
    color: #ddd;
    font-weight: normal;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    font-size: 0.8em;
}
footer a, footer a:link {
    color: #fff;
    text-decoration: none;
}